@model IEnumerable<HouseTelemetry.Abstract.ISensorReading>

@{
	ViewBag.Title = "House Telemetry";
	Layout = null;
}

<ol>
	@foreach (var reading in Model)
	{
		<li>
			<div>
				@reading.Sensor.Name <br />
			</div>
		</li>
	}
</ol>
